<div>
	<ul class="pagination">

	    {{#each pages as |page|}}
	    	
    		{{#if (eq page source.current_page) }} 
    			<li class="page-item active">
    				<a class="page-link" href="#" {{action "gotoPage" page}}>{{ page }} <span class="sr-only">(current)</span></a>
    			</li>
    		{{else if (eq page "..")}}
    			<li class="page-item disabled">
    				<a class="page-link" href="#" {{action "gotoPage" page}}>{{ page }}</a>
    			</li>
    		{{else}}
    			<li class="page-item">
    				<a class="page-link" href="#" {{action "gotoPage" page}}>{{ page }}</a>
    			</li>
    		{{/if}}	    		

	    {{/each}}

	</ul>
</div>