
{{#bs-modal-simple open=1 size="lg" title="Suspicious Countries" onHide=(action "onHide") onShow=(action "refresh") }}
	<div class="container">
	    <div class="row">
	    	<div class="col-md-10">
	    		<form class="form-inline"  style="margin-bottom:10px">
	    			{{#website-dropdown userWebsites=userWebsites onSelect=(action "onSelectSite") }}{{/website-dropdown}}
    				&nbsp;
					<div class="form-group">
						<label style="color:#666">Show results from &nbsp;</label> 
						<select class="form-control" onChange={{action "onSelectDay" value="target.value"}}>
							<option value="0">Show All</option>
							<option value="7">Last 7 Days</option>
							<option value="60">Last 60 Days</option>
						</select>
					</div>&nbsp;
					<button class="btn btn-primary" {{action "fetchData"}}>Refresh</button>
				</form>
	    	</div>
	    	<div class="col-md-2">
	    		<button class="btn btn-default btn-success" {{action "toggleView"}}>{{if showTable "View Map" "View Table"}}</button>
	    	</div>
		</div>

		<div class="row">
			<div class="col-lg-12 text-center">
				<h3>Automated Requests Origination</h3>

				{{#if showTable}}
					<table class="table table-striped table-bordered marBot">
						<thead>
							<tr>
								<th>Country</th>
								<th>No. of Requests</th>
							</tr>
						</thead>
						<tbody>
							{{#each listData.data as |record|}}
								<tr>
									<td>{{ record.country }}</td>
									<td class="text-center">{{format-number record.noRequests }}</td>
								</tr>
							{{/each}}
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2">
									{{#data-table-page source=listData gotoPage=(action "gotoPage")}}{{/data-table-page}}
								</td>
							</tr>
						</tfoot>
					</table>
				{{else}}
					{{#leaflet-map lat=lat lng=lng zoom=zoom class="leaflet-map-big"}}
						{{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
						{{#each pageData as |loc|}}
							{{#if loc.location}}
								{{#marker-layer location=loc.location}}
									{{#popup-layer}}
										<h3>{{ loc.city }}, {{ loc.country }}</h3>
										{{ loc.noRequests }} Request(s)
									{{/popup-layer}}
								{{/marker-layer}}
							{{/if}}
						{{/each}}
					{{/leaflet-map}}
				{{/if}}
			</div>
		</div>
	</div>
{{/bs-modal-simple}}