{{#bs-modal-simple title="Api Settings" open=1 size="lg" onHide=(action "onHide") onShow=(action "refresh") as |modal| }}
	
		<div class="boxpad row">    

			<div class="col-lg-7 no-pad-right">
				<h4>My Websites</h4>
		    	<div class="contentbox">
		        	<table class="table">
		        		<thead>
		        			<th>Domain/Website</th>
		        			<th>Domain Key/ID</th>
		        			<th></th>
		        		</thead>
		        		{{#each userWebsites.listData.data as |userWebsite|}}
		        			<tr>
		        				<td>{{ userWebsite.domain }}</td>
		        				<td>{{ userWebsite.userKey }}</td>
		        				<td>
		        					<button class="btn btn-sm btn-info" {{action "viewDetail" userWebsite}}>{{fa-icon "info-circle"}}</button>
		        					<button class="btn btn-sm btn-info" {{action "updateWebsite" userWebsite}}>{{fa-icon "cogs"}}</button>
		        				</td>
		        			</tr>
		        		{{/each}}
		        	</table>
		        	{{#data-table-page source=userWebsites.listData gotoPage=(action "gotoPage")}}{{/data-table-page}}
		        </div>
		    </div>      
			<div class="col-lg-5">
		    	<p>
		    		Click on the "detail" button to view the website detail and how to install the JS library to it.
		    	</p>
		    	

		    	{{#if isNewWebsite}}
			    	<h3>Add a new website</h3>
			    {{else}}
				    <p>
				    	<button class="btn btn-sm btn-primary" {{action "createWebsite"}}>I want to add a new website</button>
				    </p>
			    	<h3>Update website information</h3>
			    {{/if}}

		    	<form>
		    		<div class="form-group">
		    			<label for="domain">Domain Name</label>
		    			{{input type="text" class="form-control invalid" value=newWebsiteDomain placeholder="yourwebsite.com" required="required" id="domain" }}
		    		</div>

		    		<div class="form-group">
		    			<label for="domain">JS Ad Code</label>
		    			{{textarea class="form-control invalid" required="required" value=newWebsiteCode placeholder="Paste your JS ad code here." rows=6 }}
		    		</div>
		    		
		    		
		    		<button class="btn btn-sm btn-success" {{action "saveWebsite"}}>Save</button>
		    	</form>
		    </div>      
		  
		</div>

{{/bs-modal-simple}}



{{#bs-modal-simple open=isDetailShown onHide=(action "hideDetail") as |modal| }}
	<p>
		Copy the code below and paste it on the webpage that you want to protect/track.
	</p>
	<div class="contentbox mBottom">
		<p>
			<code>{{ installCode }}</code>
		</p>
	</div>
{{/bs-modal-simple}}