{{#bs-modal-simple title="Api Settings" open=1 size="lg" onHide=(action "onHide") onShow=(action "refresh") as |modal| }}
	
		<div class="boxpad row">    

			<div class="col-lg-6 no-pad-right">
				<h4>My Websites</h4>
		    	<div class="contentbox">
		        	<table class="table">
		        		<thead>
		        			<th>Domain/Website</th>
		        			<th>Domain Key/ID</th>
		        			<th></th>
		        		</thead>
		        		{{#each userWebsites.listData.data as |userWebsite|}}
		        			<tr>
		        				<td>{{ userWebsite.domain }}</td>
		        				<td>{{ userWebsite.userKey }}</td>
		        				<td>
		        					<button class="btn btn-sm btn-info" {{action "updateWebsite" userWebsite}}>{{fa-icon "cogs"}}</button>
		        				</td>
		        			</tr>
		        		{{/each}}
		        	</table>
		        	{{#data-table-page source=userWebsites.listData gotoPage=(action "gotoPage")}}{{/data-table-page}}
		        </div>
		    </div>      
			<div class="col-lg-6">   	

		    	{{#if isNewWebsite}}
			    	<h3>Add a new website</h3>
			    {{else}}
			    	<p>
			    		<button class="btn btn-sm btn-success" {{action "createWebsite"}}>{{fa-icon "globe"}} I want to add a new website</button>
			    	</p>
			    	<h3>Update website information</h3>
			    {{/if}}
			    	
		    	<form>
	    			<label for="domain">Domain Name</label>
					<div class="input-group mb-3">
					  	<div class="input-group-prepend">
					    	<span class="input-group-text" id="basic-addon3">https://www.</span>
					  	</div>
					  	{{input type="text" aria-describedby="basic-addon3" class="form-control invalid" value=newWebsiteDomain placeholder="yourwebsite.com" required="required" id="domain" }}
					</div>
	    		
	    			<label for="domain">
	    				Enter your ad code(s) here.
	    				<button class="btn btn-sm btn-default" type="button" {{ action "addJsCode" }}>New Ad Code</button>
	    			</label>
	    			{{#bs-tab customTabs=true as |tab|}}

    				  	{{#bs-nav type="tabs" as |nav|}}
    				  		{{#each websiteCode as |code|}}
					  		    {{#nav.item active=(bs-eq tab.activeId code.title) }}
					  		    	{{ code.title }} <button class="btn btn-sm btn-danger" {{ action "removeJsCode" code }}>&times;</button>
					  		    {{/nav.item}}
					  		{{/each}}
    				  	{{/bs-nav}}

	    				<div class="tab-content">
	    					{{#each websiteCode as |code|}}
			    				{{#tab.pane elementId=code.title title=code.title }}
			    					<div class="form-group">
			    						{{input type="text" class="form-control invalid" placeholder="ID of code/script container" value=code.title}}
			    					</div>
			    					<div class="form-group">
			    						{{textarea class="form-control invalid" required="required" value=code.code placeholder="Paste your JS ad code here." rows=6 }}
			    					</div>
			    				{{/tab.pane}}
			    			{{/each}}
		    			</div>

    				{{/bs-tab}}
		    		
		    		<button class="btn btn-sm btn-success" {{action "saveWebsite"}}>Save</button>	
		    	</form>

		    	{{#if isNewWebsite}}
		    		{{else}}
			    		<div class="form-group contentbox">
			    			<p>This is your AdShield widget code. Copy this to the page you want to protect.</p>
			    			<p>
								<code>
									<small>
										&lt;script&gt; 
										<br />
										var _adshield = []; _adshield.push({key:'{{ selectedWebsite.userKey }}'});
										<br />
										(function() { 
										<br />
										var sc = document.createElement(&quot;script&quot;);
										<br />
										sc.type = &quot;text/javascript&quot;;
										<br />sc.async=true;sc.src=&quot;https://api.adshield.tribeos.io/adshieldjs&quot;;
										<br />
										var d = document.getElementsByTagName(&quot;script&quot;)[0];
										<br />
										d.parentNode.insertBefore(sc, d); })();
										<br />
										&lt;/script&gt;
										<br />
										&lt;noscript&gt;&lt;img style=&quot;display:none;&quot; width=&quot;1&quot; height=&quot;1&quot; src=&quot;https://api.adshield.tribeos.io/nojs/{{ selectedWebsite.userKey }}&quot; /&gt;&lt;/noscript&gt;
									</small>
								</code>
							</p>
			    		</div>  
			    	{{/if}}  

		    </div>      
		  
		</div>

{{/bs-modal-simple}}

