
{{#if session.isAuthenticated}}
	<div class="alert alert-success">
		Resuming your active session...
	</div>
{{else}}
	{{#bs-form onSubmit=(action "authenticate") as |form|}}

		{{#if loginError}}
			<div class="alert alert-danger">{{loginError}}</div>
		{{/if}}

	  	{{#form.group}}
			{{input type="text" placeholder="Username" value=identification class="form-control" }}
		{{/form.group}}

		{{#form.group}}
			{{input type="password" placeholder="Password" value=password class="form-control" }}
	 	{{/form.group}}


	 	<button class="btn btn-success">{{fa-icon "sign-in-alt"}} Login</button>
	 	
	{{/bs-form}}

	<div>OR</div>

	{{#bs-form onSubmit=(action "signup") as |form|}}

		<div style="color: #000">
			<p class="text-info">Create an account</p>

			{{#form.group}}
	 			{{input type="text" placeholder="Firstname" value=newUser.firstName class="form-control"}}
	 		{{/form.group}}

	 		{{#form.group}}
	 			{{input type="text" placeholder="Lastname" value=newUser.lastName class="form-control"}}
	 		{{/form.group}}

	 		{{#form.group}}
	 			{{input type="text" placeholder="Email" value=newUser.email class="form-control"}}
	 		{{/form.group}}

	 		{{#form.group}}
	 			{{input type="text" placeholder="Username" value=newUser.username class="form-control"}}
	 		{{/form.group}}

	 		{{#form.group}}
	 			{{input type="password" placeholder="Password" value=newUser.password class="form-control"}}
	 		{{/form.group}}

	 		<button class="btn btn-success">{{fa-icon "user-plus"}} Sign Up</button>

	 	</div>

	{{/bs-form}}

{{/if}}