
{{notification-container position="top-right"}}

{{#if session.isAuthenticated}}
	<div class="alert alert-success">
		Resuming your active session...
	</div>
{{else}}

<div class="row">
	<div class="col-md-6">
		<div class="login-box">
		{{#bs-form onSubmit=(action "authenticate") as |form|}}

			{{#if loginError}}
				<div class="alert alert-danger">{{loginError}}</div>
			{{/if}}
				<h1>{{fa-icon "sign-in-alt"}} Login</h1>
		  	{{#form.group}}
				{{input type="text" placeholder="Username" value=identification class="form-control" }}
			{{/form.group}}

			{{#form.group}}
				{{input type="password" placeholder="Password" value=password class="form-control" }}
		 	{{/form.group}}


		 	<button class="btn btn-success">Login</button>
		 	
		{{/bs-form}}
		</div>
	</div>

	{{#if signingUp}}

		<div class="col-md-6">
			<div class="signup-box">
			{{#bs-form onSubmit=(action "signup") as |form|}}

				{{#if signUpError}}
					<div class="alert alert-danger">{{signUpError}}</div>
				{{/if}}

					<h1>{{fa-icon "user-plus"}} Create an account</h1>

					{{#form.group}}
			 			{{input type="text" placeholder="Company" value=newUser.company class="form-control"}}
			 		{{/form.group}}

			 		{{#form.group}}
			 			{{input type="text" placeholder="Firstname" value=newUser.firstname class="form-control"}}
			 		{{/form.group}}

			 		{{#form.group}}
			 			{{input type="text" placeholder="Lastname" value=newUser.lastname class="form-control"}}
			 		{{/form.group}}

			 		{{#form.group}}
			 			{{input type="text" placeholder="Email" value=newUser.email class="form-control"}}
			 		{{/form.group}}

			 		{{#form.group}}
			 			{{input type="text" placeholder="Username" value=newUser.username class="form-control"}}
			 		{{/form.group}}

			 		{{#form.group}}
			 			{{input type="password" placeholder="Password" value=newUser.password class="form-control"}}
			 		{{/form.group}}

			 		{{#form.group}}
			 			{{input type="password" placeholder="Please type your password again" value=newUser.password_confirmation class="form-control"}}
			 		{{/form.group}}

			 		<button class="btn btn-success">Sign Up</button>



			{{/bs-form}}
			</div>
		</div>

	{{/if}}

</div>

{{/if}}