{{#bs-modal open=1 size="lg" onHide=(action "onHide") onShow=(action "refresh") as |modal| }}

	{{#modal.header}}
		<h5 class="modal-title">User Details</h5>
	{{/modal.header}}


	{{#modal.body}}
		<div class="boxpad row">

			<div class="col-6 no-pad-right">
		    	<div class="contentbox">
					<div>
						<div class="form-group">
							<label>Firstname</label>
							{{input value=user.firstname class="form-control"}}
						</div>
						<div class="form-group">
							<label>Lastname</label>
							{{input value=user.lastname class="form-control"}}
						</div>
						<div class="form-group">
							<label>Email</label>
							{{input value=user.email class="form-control"}}
						</div>
						<div class="form-group">
							<label>Username</label>
							{{input value=user.username class="form-control"}}
						</div>
						{{#if isNewUser}}
							<div class="form-group">
								<label>Password</label>
								{{input value=user.password class="form-control" type="password"}}
							</div>
						{{/if}}
						<div class="form-group">
							<label>Permission</label>
							<select class="form-control" onChange={{action "onSelectPermission" value="target.value"}}>
								{{#each choicesPermissions as |item|}}
									{{#if (eq item.value user.permission) }}
										<option selected="selected" value="{{ item.value }}">{{ item.label }}</option>
									{{else}}
										<option value="{{ item.value }}">{{ item.label }}</option>
									{{/if}}
								{{/each}}
							</select>
						</div>
					</div>
					{{#bs-button onClick=(action "onSave") type="success"}} Save {{/bs-button}}
		        </div>
		    </div>
		    <div class="col-6">
		    	<div class="contentbox">
		    		<h4>Change Password</h4>
		    		<div class="form-group">
		    			<label>Password</label>
		    			{{input value="password" class="form-control" type="password"}}
		    		</div>
		    		<div class="form-group">
		    			<label>Confirm Password</label>
		    			{{input value="password" class="form-control" type="password"}}
		    		</div>
		    		{{#bs-button onClick=(action "onChangePassword") type="success"}} Update Password {{/bs-button}}
	    		</div>
		    </div>

		</div>
	{{/modal.body}}


	{{#modal.footer}}

	{{/modal.footer}}

{{/bs-modal}}