<div class="row">

	<div class="col-md-3">
		<div class="statBox">
			<div class="statBoxHeader">
				<div class="text-center">Traffic/Referrals</div>
			</div>
			<div>
			{{#each filteredStats as |statData|}}
				<div class="statBoxData"><span class="value">{{ statData.count }}</span> <span class="label">{{ statData.title }}</span></div>
			{{/each}}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="statBox">
			<div class="statBoxHeader">
				<div class="text-center">Transactions</div>
			</div>
			<div>
				<div class="statBoxData text-center">
					<span class="transactions">{{ stat.stat.transactions.today }}</span> <span class="label"> today</span>
				</div>
				<div class="statBoxData text-center">
					<span class="transactions">{{ stat.stat.transactions.week }}</span> <span class="label"> this week</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="statBox">
			<div class="statBoxHeader">
				<div class="text-center">Transanction Trend</div>
			</div>
			<div>
				{{ember-chart type='line' data=chartData options=chartOptions animate=true }}
			</div>
		</div>
	</div>

</div>