<div class="row">

	<div class="col-md-4">
		<div class="statBox">
			<div class="statBoxHeader">
				<div class="text-center">URL Referrals this Month</div>
			</div>
			<div>
			{{#each filteredStats as |statData|}}
				<div class="statBoxData">
					<span class="value">{{format-number statData.count }}</span> <span class="label">{{statData.title }}</span>
				</div>
			{{/each}}
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="statBox">
			<div class="statBoxHeader">
				<div class="text-center">Requests Handled This Month</div>
			</div>
			<div>
				<div class="statBoxData text-center">
					<span class="transactions">{{format-number stat.stat.transactions.today }}</span> <span class="label"> today</span>
				</div>
				<div class="statBoxData text-center">
					<span class="transactions">{{format-number stat.stat.transactions.week }}</span> <span class="label"> this week</span>
				</div>
				<div class="statBoxData text-center">
					<span class="transactions">{{format-number stat.stat.transactions.month }}</span> <span class="label"> this month</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="statBox">
			<div class="statBoxHeader">
				<div class="text-center">Ad Clicks Detected</div>
			</div>
			<div>
				<div class="statBoxData text-center">
					<span class="transactions">{{format-number stat.stat.adClicks.today }}</span> <span class="label"> today</span>
				</div>
				<div class="statBoxData text-center">
					<span class="transactions">{{format-number stat.stat.adClicks.week }}</span> <span class="label"> this week</span>
				</div>
				<div class="statBoxData text-center">
					<span class="transactions">{{format-number stat.stat.adClicks.month }}</span> <span class="label"> this month</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4" style="margin-top: 10px;">
		<div class="statBox">
			<div class="statBoxHeader">
				<div class="text-center">Live Requests Received</div>
			</div>
			<div>
				{{ember-chart type='line' data=chartData options=chartOptions animate=true }}
			</div>
		</div>
	</div>

	<div class="col-md-4" style="margin-top: 10px;">
		<div class="statBox">
		</div>
	</div>

</div>